<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stop B - Homepage</title>
    {% load static %}
    <link href="{% static 'home/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>Stop B</header>
    <main>
        <h1>Real-time Transit Information</h1>
        <p>real-time updates on transit routes, stops, and alternative travel</p>
    </main>
</body>
</html>
